.footer-btn{
    padding: 10px 12px;
    border-radius: 15px;
    color: white;
    background-color: rgb(6, 78, 150);  
    font-size: 20px;  
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

footer {
    width: 100%; 
    height: fit-content;
    text-align: center;
    /* margin-top: auto; */
}

