<section class="home" id="our-services">
    <div class="content">
        <div class="title">
            <h1>OUR SERVICES</h1>
        </div>
        <div class="boxes">
            <div class="box"> 
                <div class="service">
                    <h2>WASHING</h2>
                    <img src = "../assets/wash.png" width="70" height="70">
                </div>               
            </div>

            <div class="box">

                <div class="service">
                <h2>COMBING</h2>
                <img src = "../assets/combing.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>SHAVING</h2>
                <img src = "../assets/shave.png" width="120" height="80">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>STYLING</h2>
                <img src = "../assets/styling.jpg" width="70" height="70">
                </div>
            </div>
            
            <div class="box">
                <div class="service">
                <h2>NAIL TRIM</h2>
                <img src = "../assets/nail trim.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>EYE CLEANING</h2>
                <img src = "../assets/eye clean.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>TRIM</h2>
                <img src = "../assets/trimming.jpg" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>EAR CLEANING</h2>
                <img src = "../assets/ear clean.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>DIPPING</h2>
                <img src = "../assets/dipping.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>TEETH CLEANING</h2>
                <img src = "../assets/teeth clean.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>BLOW DRY</h2>
                <img src = "../assets/blow dry.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>DESHED</h2>
                <img src = "../assets/deshed.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>PERFUMING</h2>
                <img src = "../assets/perfum.png" width="70" height="70">
                </div>
            </div>

            <div class="box">
                <div class="service">
                <h2>DRY</h2>
                <img src = "../assets/dry.png" width="70" height="70">
                </div>
            </div>

        </div>
    </div>
</section>


