.user-popup {
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 400px;
}

.user-popup input {
    width: calc(100% - 26px);
    padding: 10px;
    outline: none;
    border: solid 1px rgb(114, 173, 255);
    margin: 3px;
}


button {
    padding: 10px;
    background-color: rgb(6, 78, 150);
    color: white;
    border: none;
}

select {
    width: calc(100% - 4px);
    padding: 10px;
    margin: 3px 3px 3px 3px;
    outline: none;
    border: solid 1px rgb(114, 173, 255);
}

.is-invalid {
    border: solid 1px red !important;
}