<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
    <img src ="../assets/logo3.png" width="40" height="40"/> 
    <div class="navbar">    
        <ul>
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a href="">Contact</a>
            <a routerLink="/login" (click)="logOut()"><i class="fa fa-fw fa-user"></i>{{ logStatus }}</a>
            <input type="text" placeholder="Search...">       
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>