<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
    <img src ="../assets/logo3.png" width="40" height="40"/>
    <div class="navbar">

    <ul>
        <a routerLink="/">Home</a>
        <a routerLink="#">About</a>
        <a href="/contact">Contact</a>
        <a routerLink="/profile">Profile</a>
        <a href="/login"><i class="fa fa-fw fa-user"></i>{{ logStatus }}</a>
        <input type="text" placeholder="Search..">
</ul>
</div>
</nav>
