<section class="home" id="our-services">
    <div class="content">
        <div class="title">
            <h1>OUR SERVICES</h1>
        </div>
        <div class="boxes">

            <div class="box" *ngFor="let service of services" id="{{ service.serviceId }}">
                <a routerLink="/extra-service" (click)="onServiceClick(service)">
                    <div class="service">
                    <h2>{{ service.name }}</h2>
                    <img src = "../assets/styling.jpg" width="70" height="70">
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>


