<h1>Enter your address</h1>
<form action="">
    <div class="type-of-address">
        <input type="radio" name="address-type" id="">
        <label for="">Home</label>

        <input type="radio" name="address-type" id="">
        <label for="">Complex</label>

        <input type="radio" name="address-type" id="">
        <label for="">Duplex</label>

        <input type="radio" name="address-type" id="">
        <label for="">Apartment</label>
    </div>
    <input type="text" name="" id="" placeholder="Address line"><br/>
    <input type="text" name="" id="" placeholder="Suburb"><br/>
    <input type="text" name="" id="" placeholder="City"><br/>
    <input type="text" name="" id="" placeholder="Zip code"><br/>
    <button>Confirm address</button>
</form>