
<div class="view-booking-wrapper">
    
    <div class="table-container">
        <h1>Bookings</h1>
        <table id="bookings">
            <thead>
                <tr>
                    <!--<th>Booking ID</th>-->
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Booking Date</th>
                    <th>Service Name</th>
                    <th>Service Description</th>
                    <th>Service Duration</th>
                    <th>Extra Service Name</th>
                    <th>Total</th>
                    <th>Assign staff member</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookings ">
                    <!--<td id="bookingID">{{bookings.bookingID}}</td>-->
                    <td id="firstName">{{booking.customer.firstName}}</td>
                    <td id="lastName">{{booking.customer.lastName}}</td>
                    <td id="bookingDate">{{booking.bookingDate}}</td>
                    <td id="serviceName">{{booking.groomServices[0]?.name}}</td>
                    <td id="serviceDescription">{{booking.groomServices[0]?.description}}</td>
                    <td id="serviceDuration">{{booking.groomServices[0]?.serviceDuration}}</td>
                    <td id="extraServiceName">{{booking.extraServices[0]?.extraServiceName }}</td>
                    <td id="total">{{booking.total}}</td>
                    
                   
                        <td id="assignStaff">
                            <select #staff name="staffName" id="" ngModel >
                                <option disabled value="none">Select staff member</option>
                                <option *ngFor="let staff of staffList"  value="{{staff | json}}">{{staff.firstName}} {{staff.lastName}}</option>
                            </select>
                        </td>
                 
                    <td id="assignService">
                        
                        <button type="submit" class="btn btn-primary" (click)="assignStaff(booking, staff.value)">Assign Staff Member</button>

                    </td>
                </tr>
            </tbody>
        </table>
      </div>

    

</div>

