h1 {
    color: white;
    font-size: 70px;
    text-decoration: underline;
    text-decoration-color: #3269a8;
}

h2 {
    font-style: italic;
}

.button {
    padding: 10px 12px;
    margin: auto;
    border-radius: 15px;
    color: white;
    background-color: #3269a8;
    font-size: 20px;
    text-decoration: none;
}

.homepage {
    margin: auto;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.6;
}

.text-container {
    position: absolute;
    color: white;
    left: 2rem;
    top: 20rem;
    padding: 0 1rem;
    text-align: center;
}

.text-container {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding: 50px;
    border-radius: 4px;
}