<h1>Add a new member</h1>
<form action="" method="post" #addForm="ngForm" (ngSubmit)="addStaff(addForm)">

    <input type="text"  name="fname" placeholder="First name">
    <input type="text"  name="lname" placeholder="Last name">
    <input type="text"  name="speciality" placeholder="Speciality">

    <select name="role" id="">
        <option disabled value="none">Select role:</option>
        <option  *ngFor="let role of roles" [value]="role.roleID + ',' + role.name">{{role.name}}</option>
    </select>

    <button (click)="addStaff(addForm)" type="submit">Add Staff</button>
</form>