
<div class="wrapper">
    <div class="main-container">
        <div class="service-package-info">
            <div class="service-text">
                <h1 style="text-align: center;">Please choose your extra service:</h1>
                <h3 style="text-align: center;">Select the extras you want below</h3>
                <h4>Pamper</h4>

                <p>Wash, Dry, Combing, Eye cleaning, perfume included.</p>
                <span>Medium Dog - Long hair</span><br>
            </div>
           
                <img src="../assets/images/small-dog-short-hair.png" style="height: 100px; width: 100px;" alt="" >
                <span class="service-price">R240.00</span>
           
           
        </div>

        <div class="extra-service-container">
            <div class="flex-container">
                <label for="Shaving"> Shaving</label>
                <input type="checkbox" id="shaving" name="shaving" value="Shaving">
            </div>

            <div class="flex-container">
                <label for="Cutting-in-style"> Cutting-in-style</label>
            <input type="checkbox" id="cutting" name="cutting" value="Cutting">
            </div>

            <div class="flex-container">
                <label for="Scissors"> Scissors</label>
                <input type="checkbox" id="scissors" name="scissors" value="Scissors">
            </div>

            <div class="flex-container">
                <label for="Deshed-dematting"> Deshed dematting</label>
                <input type="checkbox" id="Deshed-dematting" name="Deshed-dematting" value="Deshed-dematting">
            </div>

            <div class="flex-container">
                <label for="Anal-glands-secretion"> Anal glands secretion</label>
                <input type="checkbox" id="anal-glands-secretion" name="anal-glands-secretion" value="Anal-glands-secretion">
            </div>
            <div class="btn">
                <br>
                <button class="button">Add to cart</button>
            </div>
            
        </div>

    </div>
   
</div>




