<app-navbar></app-navbar>
<div class="wrapper">
    <div class="main-container">
        <div class="service-package-info">
            <div class="service-text">
                <h1 style="text-align: center;">Please choose your extra service:</h1>
                <h3 style="text-align: center;">Select the extras you want below</h3>
                <h4>{{ selectedService.name }}</h4>

                <p>{{ selectedService.description }}</p>
                <span>Medium Dog - Long hair</span><br>
            </div>
           
            <img src="../assets/images/small-dog-short-hair.png" style="height: 100px; width: 100px;" alt="" >
            <span class="service-price">{{ selectedService.price | currency: 'ZAR' }}</span>
        </div>

        <div class="extra-service-container">
            <div class="flex-container" *ngFor="let extraService of extraServices" [id]="extraService.extraServiceId">
                <label for="Shaving">{{ extraService.extraServiceName }} - {{ extraService.price | currency: 'ZAR' }}</label>
                <input type="checkbox" id="shaving" name="shaving" value="Shaving" (change)="checkboxChanged($event, extraService)">
            </div>


            <br/>
            <div class="total">
                <p>Total: {{ totalPrice | currency: 'ZAR' }}</p>
            </div>
            <div class="btn">
                <br>
                <button class="button" (click)="addToCart()">Add to cart</button>
            </div>
            
        </div>

    </div>
   
</div>




